#cookie {
	width: 300px;
	height: 300px;
	margin-top: 50px;
	cursor: pointer;
}


button {
	display: block;
	margin: 0 auto;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

