#game {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#cookie {
	width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#cookie.active {
	transform: translateY(5px);
}

#extra-clicks-btn {
	margin-top: 10px;
}

#store {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #EEE;
	border: 1px solid #CCC;
}

#store h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

#store ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#store li {
	margin-bottom: 5px;
}

#scoreboard {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #scoreboard p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  